.header{
  grid-area: header;
  
  background-color: rgb(40, 190, 189);
  display: grid;
  grid-template-columns: 2fr 10fr 3fr;
}
.header img{
  height: 50px;
   
}
.header li{
  display: inline-block;
  margin:10px;
  
}
.header a{
  color:black;
  text-decoration: none;
  
}