.app-wrapper{
  display: grid;
  grid-template-areas: 
  "header header "
  "nav cont"
  "footer footer";
  


  grid-template-rows: 60px 1fr 20px;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}



.logo img {
  height: 60px;
 }

.app-wrapper-content{
  grid-area: cont;
  background-color:rgba(243, 243, 243, 0.719);

}





