
.app-wrapper{
  display: grid;
  grid-template-areas: 
  "header header "
  "sidebar content"
  "footer footer";
  


  grid-template-rows:auto auto auto;
  grid-template-columns: 2fr 10fr;
  grid-gap: 1px;
}

.app-wrapper-content{
  grid-area: content;
  padding: 10px;

}




.app-wrapper{
  display: grid;
  grid-template-areas: 
  "header header "
  "sidebar content"
  "footer footer";
  


  grid-template-rows:auto auto auto;
  grid-template-columns: 2fr 10fr;
  grid-gap: 1px;
}

.app-wrapper-content{
  grid-area: content;

}



