.app-wrapper{
  display: grid;
  grid-template-areas: 
  "header header "
  "sidebar cont"
  "footer footer";
  


  grid-template-rows: 50px 1fr 20px;
  grid-template-columns: 2fr 10fr;
  grid-gap: 1px;
}



.logo img {
  height: 60px;
 }

.app-wrapper-content{
  grid-area: cont;
  background-color:#6071887c
;

}





